@page "/"
@using TaxaOgApi;
@using System.Text.Json;

<PageTitle>Index</PageTitle>

<head>
    <link href="index.razor.css" rel="stylesheet" />
</head>


<header>
    <span>taxi </span>
    <span>4x27</span>
    <ul>
        <li><NavLink href="/">beregn pris</NavLink></li>
        <li><NavLink href="/contrakt">contrakt</NavLink></li>
        <li><NavLink href="/support">support</NavLink></li>
        <li><NavLink href="/om">om</NavLink></li>
    </ul>
</header>


<div class="big-box">

    <div class="rectangle">
        <input id="autocomplete-start" class="search-box" type="text" @bind="AddressStart" placeholder="address start" />
        <input class="search-box" type="text" @bind="AddressEnd" placeholder="address slut" />
        <select class="menu-box" @bind="SelectedTime">
            <option value="StandardTid">vælge tid</option>
            <option value="dag">dag</option>
            <option value="nat">nat</option>
        </select>
        <select class="menu-box" @bind="SelectedCar">
            <option value="StandardVogn">vælge vogn</option>
            <option value="Almindelige Vogne">Almindelige Vogne</option>
            <option value="Store Vogne">Store Vogne – minibus</option>
        </select>
    </div>


    <div class="square squareLeft">

        <p class="text"><strong>Tillæg</strong></p>

        <div class="checkbox-item" for="checkbox1">
            <label for="Checkbox1">Antal cykler:</label>
            <input type="number" @bind="Checkbox1" min="0" placeholder="0" style="width: 50px" />
        </div>
        <div class="checkbox-item" for="checkbox2">
            <input type="checkbox" @bind="Checkbox2" /><label>Opbæring</label>
        </div>
        <div class="checkbox-item" for="checkbox3">
            <input type="checkbox" @bind="Checkbox3" /><label>Lufthavn</label>
        </div>
        <div class="checkbox-item" for="checkbox4">
            <input type="checkbox" @bind="Checkbox4" /><label>5-6 passagerer</label>
        </div>
        <div class="checkbox-item" for="checkbox5">
            <input type="checkbox" @bind="Checkbox5" /><label>Liftvogn</label>
        </div>

        <p class="text"><strong>Køresel over bro</strong></p>

        <div class="checkbox-item" for="checkbox6">
            <input type="checkbox" @bind="Checkbox6" /><label>Øresund</label>
        </div>
        <div class="checkbox-item" for="checkbox7">
            <input type="checkbox" @bind="Checkbox7" /><label>Storebæltsbroen</label>
        </div>
        <div class="calculat">
            <button type="button" @onclick="Calculate">calculate</button>
        </div>
    </div>


    <div class="square squareRight">
        @if (Button)
        {
            <iframe width="50%" height="60%" frameborder="0" style="border:0; padding-top: 30px" allowfullscreen src="@MapUrl"></iframe>
        }
        <p>
            @DistanceResult
        </p>
    </div>
</div>


<style>
    a {
        color: black;
        text-decoration: none;
        transition: color 1s;
    }
        a:hover {
            color: #DCCCBB;
        }
</style>